body {
    background: url(../images/skyline.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hero {
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.cd{
    height: 200px;
    width: 200px;
    border: 2px solid red;
}